@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10000000149011612);
    padding: 50px 228px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 33px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-des {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

.btn-primary {
    background: #FF900E;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    margin-top: 2rem;
}

.teams {
    padding: 50px 228px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-img img {
    width: 300px;
    height: 300px;
}

.teams-title {
    font-size: 2.6rem;
    font-weight: 500;
}

.teams-content {
    padding-left: 60px;
}

.teams-des {
    font-size: 1rem;
    font-weight: 400;
    columns: #727272;
}

.card {
    border-radius: 5px;
    border: transparent;
    box-shadow: 0px 4px 30px 0px lightgrey;
    padding: 1rem;
}

.card-title {
    font-weight: 600;
    font-size: 1.25ren;
}

.features-title {
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
    display: flex;
    gap: 20px
}

.border {
    border-left: solid 5px #FF900E;
    width: 5px;
    height: 80px;
}


.features {
    display: flex;
    margin-top: auto;
    gap: 40px;
    padding: 0 228px;
}

.feature-img {
    margin-top: 120px;
    width: 100%;
}

.feature-content {
    width: 100%;
}

.feature-img img {
    width: 100%;
    margin-left: 30px;
}

.ten-year {
    background-color: #FF900E;
    color: #ffffff;
    width: 60%;
    height: 20%;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-title {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px;
}

.facts {
    padding: 50px 228px;
    margin: 0 auto;
    justify-content: center;
}

.fact-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.f-cards {
    margin-top: 2rem;
    border-radius: 5px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
}

.fact-title {
    font-size: 2rem;
    font-weight: 700;
}

.fact-des {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}

.fact-content {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    width: 50%;
}

.foot {
    margin-top: auto;
    padding: 0 228px;
}

.logo {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.filter {
    filter: grayscale(100%);
    width: 10%;
    margin-left: 5rem;
}

.sponsor {
    margin-top: 3rem;
    text-align: center;
}

.foot-d {
    color: #727272;
    margin: 0 16rem;
}

.foot-des {
    text-align: center;
    background: rgba(255, 144, 14, 0.10000000149011612);
    padding: 2rem;
    margin-bottom: 6rem;
}

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .banner-title {
        font-size: 3rem;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        margin-left: 0;
        margin-right: 25px;
    }

    .teams {
        flex-direction: column;
        padding: 20px;
    }

    .teams-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-img img {
        width: 100%;
    }


    .teams-content {
        padding: 20px;
    }

    .features {
        flex-direction: column;
        padding: 20px;
    }

    .feature-img {
        margin-top: auto;
        width: 100%;
    }

    .feature-img img {
        margin-left: auto;
        width: 100%;
    }

    .ten-year {
        bottom: 60px;
        padding: 8px;
    }

    .facts {
        padding: 20px;
        padding-top: 0;
    }

    .fact-card {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .f-cards {
        width: auto;
    }

    .fact-content {
        width: 100%;
    }

    .foot {
        padding: 20px;
    }

    .sponsor {
        margin: 0;
    }

    .foot-d {
        margin: 0;
    }

    .filter {
        margin: 0 4px;
        width: 13%;
    }
}

@media screen and (min-width:576px) and (max-width:1024px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        margin-right: 50px;
        margin-left: 0;
    }


    .teams {
        flex-direction: column;
        padding: 50px;
    }

    .teams-content {
        padding: 40px;
        width: 80%;
    }

    .features {
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .feature-img {
        margin-top: 60px;
        width: 85%;
    }

    .feature-img img {
        margin-left: auto;
        width: 100%;
    }

    .feature-content {
        width: 85%;
    }

    .ten-year {
        bottom: 80px;
        width: 50%;
        height: 100%;
        padding: 20px;
    }

    .facts {
        padding: 50px;
        padding-top: 0;
    }

    .fact-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }



    .fact-content {
        width: 70%;
    }

    .foot {
        padding: 50px;
    }

    .foot-d {
        margin: 0 6rem;
        width: 70%
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2.2rem;
        margin-left: 0;
    }

    .filter {
        margin: 0;
        width: 80%;
    }
}